.alertWraper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(214, 222, 219, 0.8);
  z-index: 800;
  transition: all 0.5s ease-out;
}
.Alert {
  width: 500px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1000;
  padding: 30px;
  text-align: center;
  transition: all 0.5s ease-out;
  border-radius: 6px;
}
.primary{
  color: rgb(128, 136, 135);
  background: #fff;
  border: 2px solid rgb(233, 244, 243);
}
.success{
  color: rgb(87, 145, 89);
  background: rgb(192, 236, 192);
  border: 2px solid rgb(116, 213, 105);
}
.success::before{
  position: absolute;
  display: block;
  float: right;
  width: 64px;
  height: 64px;
  content: "";
  background-image: url(https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/64/Ok_check_yes_tick_accept_success_green_correct.png);
}
.danger{
  color: rgb(145, 87, 87);
  background: rgb(255, 196, 196);
  border: 2px solid rgb(242, 99, 99);
}
.danger::before{
  position: absolute;
  display: block;
  float: right;
  width: 64px;
  height: 64px;
  content: "";
  background-image: url(http://icons.veryicon.com/64/System/Circle%20Addon%202/warning.png);
}
.warning{
  color: rgb(145, 141, 87);
  background: rgb(253, 255, 196);
  border: 2px solid rgb(210, 199, 9);
}
.warning::before{
  position: absolute;
  display: block;
  float: right;
  width: 64px;
  height: 64px;
  content: "";
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Exclamation.svg/64px-Exclamation.svg.png);
}
button {
  outline: none;
  float: right;
  background: none;
  border: none;
}
