
.Button {
   outline: none;
  border: 2px solid black;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-weight: bold;
   text-align: center;
}

.Success {
  background-color: transparent;
  border: 2px solid rgb(142, 187, 124);
   color: #5C9210;
}

.Danger {
  background-color: transparent;
  border: 2px solid rgb(187, 125, 125);
   color: #944317;
}
